# Default ignored files
/shelf/
/workspace.xml
# Ignorar arquivos compilados
*.class

# Ignorar diretórios de saída
/target/
/out/

# Ignorar configurações do IntelliJ IDEA
.idea/
*.iml

# Ignorar arquivos de log
*.log

# Ignorar arquivos do sistema operacional
.DS_Store
Thumbs.db
